In [4]:
x <- data.frame(
    이름=c('A', 'B', 'C', 'D'),
    성별=c('M', 'F', 'M', 'F'),
    월급=c(360, 430, 510, 390),
    동호회=c(T, F, F, F) 
)

In [5]:
x

  이름 성별 월급 동호회
1 A    M    360   TRUE
2 B    F    430  FALSE
3 C    M    510  FALSE
4 D    F    390  FALSE

In [ ]:
str(x)