In [1]:
# 데이터프레임 정렬
x <- c(360, 420, 480, 320, 465, 390)
sort(x)

[1] 320 360 390 420 465 480

In [2]:
x <- data.frame(성별=c('M', 'F', 'M', 'F', 'F', 'M'), 
                월급=c(360, 420, 480, 320, 465, 390), 
                지출=c(320, 270, 260, 280, 350, 230)
               )
x

  성별 월급 지출
1 M    360  320
2 F    420  270
3 M    480  260
4 F    320  280
5 F    465  350
6 M    390  230

In [3]:
str(x)

'data.frame':	6 obs. of  3 variables:
 $ 성별: Factor w/ 2 levels "F","M": 2 1 2 1 1 2
 $ 월급: num  360 420 480 320 465 390
 $ 지출: num  320 270 260 280 350 230

In [4]:
sort(x$월급)

[1] 320 360 390 420 465 480

In [5]:
order(x$월급)

[1] 4 1 6 2 5 3

In [6]:
x <- x[ order( x$월급 ), ]
x

  성별 월급 지출
4 F    320  280
1 M    360  320
6 M    390  230
2 F    420  270
5 F    465  350
3 M    480  260

In [7]:
rownames(x) <- NULL
x

  성별 월급 지출
1 F    320  280
2 M    360  320
3 M    390  230
4 F    420  270
5 F    465  350
6 M    480  260

In [9]:
x[ order( x$성별, x$월급 ), ]

  성별 월급 지출
1 F    320  280
4 F    420  270
5 F    465  350
2 M    360  320
3 M    390  230
6 M    480  260

In [12]:
x[ order( x$성별, -x$지출 ), ]

  성별 월급 지출
5 F    465  350
1 F    320  280
4 F    420  270
2 M    360  320
6 M    480  260
3 M    390  230

In [ ]:
!git status