In [2]:
x <- data.frame(
    이름=c('A', 'B', 'C', 'D'),
    성별=c('M', 'F', 'M', 'F'),
    월급=c(360, 430, 510, 390),
    동호회=c(T, F, F, F) 
)

In [3]:
x

  이름 성별 월급 동호회
1 A    M    360   TRUE
2 B    F    430  FALSE
3 C    M    510  FALSE
4 D    F    390  FALSE

In [4]:
str(x)

'data.frame':	4 obs. of  4 variables:
 $ 이름  : Factor w/ 4 levels "A","B","C","D": 1 2 3 4
 $ 성별  : Factor w/ 2 levels "F","M": 2 1 2 1
 $ 월급  : num  360 430 510 390
 $ 동호회: logi  TRUE FALSE FALSE FALSE

In [5]:
x$이름 <- as.character(x$이름)

In [6]:
str(x)

'data.frame':	4 obs. of  4 variables:
 $ 이름  : chr  "A" "B" "C" "D"
 $ 성별  : Factor w/ 2 levels "F","M": 2 1 2 1
 $ 월급  : num  360 430 510 390
 $ 동호회: logi  TRUE FALSE FALSE FALSE

In [7]:
x$이름

[1] "A" "B" "C" "D"

In [9]:
x[['이름']]

[1] "A" "B" "C" "D"